@import './phoneStyleUtil.scss';

.inputContainer {
  width: calc(100% / 2 - 6px);

  @include phone {
    margin: 8px 0;
    width: 100%;
  }

  input {
    font-family: 'Roboto Slab', serif;
    color: gray;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.6px;
    border: 0;
    padding: 10px 10px;
    width: 100%;
  }
}

.nameInput {
  text-transform: capitalize;
}
